/* Transition animation to trigger upon page load.
Adapted from YouTube tutorial by dcode */

/* Target the entire page except the navbar and the footer*/
.header-section, div[role=main] {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}


/* Set width of code blocks to fit viewport to allow pages with
code blocks to scale responsively to screen size. Set a max-width
to limit width of code blocks on desktop pages */
/* 'highlight' is a class that contains elements that define the background of code blocks*/

.highlight pre {
    width: 100vw;
    max-width: 100%;
}

/* Responsive iframes that will maintain 16:9 aspect ratio. 
Tutorial from W3 Schools: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */

.container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }